@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Walker</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Walker.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Walker.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Walker.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Walker.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Walker.NeighborhoodId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Walker.NeighborhoodId)
        </dd>
        <dt class="col-sm-2">
            Avatar
        </dt>
        <dd class="col-sm-10">
            <img class="bg-info" src="@Model.Walker.ImageUrl" alt="avatar" style="width:50px" />
        </dd>
    </dl>
</div>

<h4>Recent Walks</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Client
            </th>
            <th>
                Duration
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Walks walk in Model.Walks)
        {
            <tr>
                <td>
                    <span>@walk.Date.ToString("D")</span>
                </td>
                <td>
                    <span>@walk.Owner.Name</span>
                </td>
                <td>
                    <span>@(walk.Duration / 60) minutes</span>
                </td>

            </tr>
        }
    </tbody>
</table>

<div>
   
    }
    <h4>Total Walk Time: @Model.TotalDuration</h4 >

    </div>

    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Walker.Id }) |
        <a asp-action="Index">Back to List</a>
    </div>
